.container {
  padding: 10px 5px;
  color: white;
  background-color: black;
  display: flex;
  align-items: baseline;
  font-size: 9pt;
}

.button {
  padding: 4px;
  margin: 2px 8px;
  font-size: 9pt;
  color: #eee;
  background-color: #333;
  border-radius: 2px;
  border: solid 1px #222;
}

.button:hover {
  background-color: #666;
}
