.container {
  position: absolute;
  z-index: 200;
  padding: 4px;
  background-image: linear-gradient(to top, #e3e3e3 0, #f0f0f0 20%, #fff 60%);
  border-radius: 6px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
  opacity: .9;
  transition: opacity .2s ease-in;
  cursor: default;
}

.moving {
  opacity: .4;
  cursor: grab;
}
