.container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

$tab-border-bottom: 4px;

.container a {
  flex: 1;
  color: #999;
  padding: 18px 10px 2px;
  border-bottom: solid $tab-border-bottom #f0f0f0;

  &:hover {
    color: #000;
    border-bottom-color: #999;
    cursor: pointer;
  }
}

.container a.activenavlink {
  color: #000;
  border-bottom-color: #333;
  cursor: default;
}
