.container {
  padding: 10px;
  text-align: left;
}

.catalog {
  background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(236, 236, 236, 1) 47%, rgba(227, 227, 227, 1) 100%);
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 10px;
}

.title {
  margin-top: 0;
}
