.container {
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details {
  flex: 2;
}

.dataerror {
  font-weight: 600;
}
