@import '../../variables';

.menuContainer {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.menu {
  flex: 1;
}

.title {
  font-family: $titles-font;
  font-size: 24px;
  letter-spacing: .06em;
  padding-right: 50px;
}
