@import '../../../../variables';

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.statsHeader {
  padding-top: 5px;
  display: flex;
}

.thumbnailLoading {
  color: $lens-accent-color;
  text-align: center;
  margin-top: 30px;
}

.tilesWrapper {
  flex: 1;
}
