@import 'variables';

.navigator {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.navMiddle {
  align-items: center;
  display: flex;
}

.navTarget {
  border: 16px solid $gray-darker;
  border-radius: 12px;
  margin: 3px;
  padding: 1px;
}
