@import 'variables';

.container {
  align-content: center;
  display: flex;
  justify-content: stretch;
  height: 100%;
  padding: 1em;
  width: 100%;
}

%sideSection {
  border: 1px solid $gray-darker;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: .8em;
  margin: 2px;
  padding: .5em;
  text-align: center;
}

.leftSection {
  @extend %sideSection;
}

.rightSection {
  @extend %sideSection;
  text-align: left;
  padding-left: 1em;

  pre {
    color: $gray-lighter;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.navSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.caption {
  padding-bottom: 1em;
  font-size: .8em;
}

.context {
  padding-top: 1em;
  font-size: .8em;
}
