.container {
  display: flex;
}

.segment {
  font-style: italic;
  font-size: 13px;
  color: #999;
  padding-right: 20px;
  padding-bottom: 6px;
}

.label {
  color: #ccc;
}

.prefix {
  font-weight: 500;
  padding-right: 4px;
}
