@import '../../../../variables';

.container {
  padding-top: 2px;
  color: $lens-app-header-color;
  text-align: center;
  z-index: 1;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12),
    0 2px 4px -1px rgba(0, 0, 0, .4);
}

.title {
  display: flex;
  justify-content: flex-end;
}

.title h2 {
  font-family: $lens-title-font;
  margin: 10px 0 0 60px;
}

.logoContainer {
  position: relative;
  left: -15px;
  top: -10px;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;
  height: 40px;
}

@keyframes appLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.details {
  padding: 8px 0 2px;
  height: 20px;
  font-size: 9pt;
}
