@import '../../../../variables';

.container {
  padding: 2px 0;
  color: $lens-app-header-color;
  text-align: center;
  border-bottom: solid 2px $lens-app-header-button-border-color;
}

.title {
  display: flex;
  justify-content: flex-end;
}

.title h2 {
  font-family: $lens-title-font;
  margin: 10px 0 0 60px;
}

.logoContainer {
  position: relative;
  left: -15px;
  top: -10px;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;
  height: 40px;
}

@keyframes appLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.details {
  padding: 8px 0 2px;
  height: 20px;
  font-size: 9pt;
}
