$info-text-color: #222;
$info-width: 150px;
$info-height: 200px;
$svg-width: $info-width - 4px;
$svg-height: $info-height - 30px;

.infoContainer {
  color: $info-text-color;
  font-size: 8pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: $info-width;
  min-height: $info-height;
}

.statsTitle {
  padding-left: 2px;
}

.statsFilename {
  padding-left: 2px;
}

.svgBox {
  width: $svg-width;
  height: $svg-height;
}

.histBarRed {
  stroke: #fcc;
  stroke-width: 1px;
  fill: #ffd8d8;
}

.histBarGreen {
  stroke: #ada;
  stroke-width: 1px;
  fill: #c8eec8;
}

.histBarBlue {
  stroke: #ccf;
  stroke-width: 1px;
  fill: #d8d8ff;
}
