@import '../../../../variables';

.container {
  padding: 4px 0 6px;
  height: 16px;
}

.menu {
  font-size: 10pt;
}

.menu a {
  color: $lens-app-header-color;
  text-decoration: none;
  padding: .5em 1em;
}

.menu a:hover {
  color: $lens-app-menu-hover-color;
}
