.container {
  display: flex;
  justify-content: flex-start;
  margin: 1em 0;
  width: 100%;
}

.returnToCatalog {
  margin-top: 1.5em;
  padding-left: 1em;
}

.thumbnailSection {
  padding-left: 1em;
}

.detailsSection {
  padding-left: 1em;
}

.thumbnail {
}
