.container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
}

.tag {
  color: #ccc;
  margin-top: 12px;
  font-size: 10px;
  text-align: right;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;

  & button {
    margin: 8px;
    width: 60px;
  }
}
