.appContainer {
  background-color: #222;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featureContainer {
  background-color: white;
  text-align: center;
  flex-grow: 1;
}

.featureContainer h1 {
  margin: 0;
  padding: 0;
}
