@import '../../../../../variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  font-size: 10pt;
}

.row {
  display: flex;
  justify-content: flex-start;
  line-height: 1.3;
  width: 100%;
}

.label {
  color: $lens-page-color;
  font-weight: 900;
  padding: 0 .5em;

  &:not(:first-child) {
    padding-left: 1em;
  }
}

.detail {
  padding: 0 .5em 0 0;
  text-align: left;
  color: #aaa;

  &:last-child {
    flex-grow: 1;
  }
}

$tile-background-color: #222;
$tile-idle-color: #282828;
$tile-loading-color: #333;

.tilesContainer {
  position: relative;
  height: 100%;
  background-color: $tile-background-color;
}

.tile {
  position: absolute;
  border-top: solid 1px $tile-idle-color;
  border-left: solid 1px $tile-idle-color;
}

.loading {
  border-top: solid 1px $tile-loading-color;
  border-left: solid 1px $tile-loading-color;
}

.image {
  position: absolute;
}

.selection {
  position: absolute;
  z-index: 100;
  border: solid 2px rgba(255, 255, 0, .6);
  border-radius: 4px;
}
