.container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 4vh 4vw 0;
  width: 100%;

  & div:first-child {
    margin-right: auto;
  }
}

.title {
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 4px;
}
