.framedImage {
  margin: 10px 6px;
  padding: 12px;
  border: solid 1px #ccc;
  box-shadow:
          0 4px 5px rgba(0, 0, 0, .14),
          0 1px 10px 0 rgba(0, 0, 0, .12),
          0 2px 4px -1px rgba(0, 0, 0, .4);
}

.cutContainer {
  display: flex;
}
