.techList {
  padding: 14px 40px 8px;

  li:not(:last-child) {
    padding-bottom: 6px;
  }

  li a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.tech a {
  font-weight: 600;
}

.external {
  color: steelblue;
  &:hover {
    text-decoration: underline;
  }
}

.icon {
  color: steelblue;
  padding-left: 10px;
  padding-top: 14px;
}
