@import '../../../../variables';

.container {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.thumbnailsContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.catalogName {
  font-family: $lens-title-font;
  font-size: 36pt;
}
