.container {
  margin: 0 10px;
  vertical-align: text-bottom;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 12px;
}

.growMore {
  flex: 2;
}

.message {
  flex: 1;
  padding-left: 1em;
  text-align: left;
}
