$lens-page-font: Roboto, sans-serif !default;
$lens-title-font: Oswald, sans-serif !default;

$lens-page-color: #000;
$lens-page-background-color: #fff;

$lens-accent-color: #61dafb;

$lens-app-header-color: #eee;
$lens-app-header-background-color: #222;

$lens-app-menu-color: #eee;
$lens-app-menu-hover-color: $lens-accent-color;

$lens-app-header-button-background-color: #333;
$lens-app-header-button-background-hover-color: $lens-accent-color;
$lens-app-header-button-background-disabled-color: #000;
$lens-app-header-button-border-color: #444;
$lens-app-header-button-color: #eee;

$thumbnailImageHighlightColor: #111;
$thumbnailLabelColor: #ddd;
$thumbnailImageBorderColor: #eee;
